* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #19a1ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#bg1, #bg2 {
    width: 900px;
    height: auto;
    position: absolute;
}

#bg1 {
    top: -500px;
    left: -300px;
}
#bg2 {
    bottom: -500px;
    right: -300px;
}

/*******************************/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.card .bg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 65px 10px 20px;
    border-bottom: 1px solid rgb(198, 196, 196);

}

.card .info img {
    position: absolute;
    border: 5px solid #fff;
    border-radius: 50%;
    top: -50px;
}

.card .info .name-age {
    
    display: flex;
    align-items: center;
}

.card .info .name-age h2{
    padding: 5px 10px;
}
.card .info .name-age p{
    color: rgb(142, 141, 141);
}
.card .info .city{
    padding-top: 10px;
    color: rgb(142, 141, 141);
}

.card .statistics {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card .statistics .followers,
.card .statistics .likes,
.card .statistics .photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .statistics .followers p,
.card .statistics .likes p,
.card .statistics .photos p{
    color: rgb(142, 141, 141);
    padding: 10px;
}